<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WordReplacer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <WordReplacer.Properties.Settings>
            <setting name="replacementPath" serializeAs="String">
                <value />
            </setting>
            <setting name="sourcePath" serializeAs="String">
                <value />
            </setting>
            <setting name="destPath" serializeAs="String">
                <value />
            </setting>
            <setting name="replacementType" serializeAs="String">
                <value />
            </setting>
        </WordReplacer.Properties.Settings>
    </userSettings>
</configuration>